@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lexend+Deca&family=Lexend:wght@100..900&family=Noto+Sans+Bhaiksuki&family=Playwrite+DE+SAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --font-lexend: "Lexend", sans-serif;
    --color-hitam: rgba(13, 18, 28, 1);
    --color-gelap: #4D6699;
    --color-putih: #FFFFFF; 
    --color-card: rgba(247, 250, 252, 1);
    --color-borderCard: rgba(207, 214, 232, 1);
    --color-border: rgba(18, 92, 237, 1);
    --color-ungu: rgba(77, 102, 153, 1);



}

@layer base{
    body{
        @apply font-lexend;
    }
}

@layer components {
    .btn{
        @apply w-22.25 h-10 min-w-21 max-w-120 pr-4 pl-4 rounded-lg text-sm leading-4 bg-border hover:bg-hitam text-white font-bold;
    }
}

