html{
    margin:  0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container{
    width: 600px;
    margin: 50 pxauto;
    border:  5px solid #333;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: "header header"
                        'aside main'
                        "nav main"
                        "footer footer";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1.3fr;
    /* grid-template-rows: ; */
}

.header {
    background-color: #B063db;
    padding: 40px 0;
}

aside{
    background-color: rgb(55, 130, 221);
}

nav{
    background-color: rgb(172, 48, 48);
    padding: 100px o;;
}

main{
    background-color: yellow;
    box-sizing: border-box;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer{
    background-color: #666;
    padding-inline: 20px 0;
}

